/* App.css */

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height: 100%;
}

.titlename {
  color: #fff; /* White text */
}

.body {
  margin: 0;
  background: linear-gradient(315deg, #2e8bc0, #1f9a8f); /* Blue-green gradient background flipped */
  font-family: sans-serif;
  font-weight: 100;
}

.statstable {
  width: 800px;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  color: #fff; /* White text */
  margin-bottom: 500px;
}

.headers {
  position: sticky;
  top: 0;
  background-color: rgba(0,0,0,.3); /* Dark overlay on gradient */
  z-index: 1;
  border-bottom: solid 1px rgba(255,255,255,0.1); /* White border bottom */
  cursor: pointer;
}

.headers th {
  padding: 12px 16px; /* Adjust padding as needed */
}

.headers th:nth-child(2) { /* Adjust the nth-child index */
  width: 200px; /* Example: Set width to 200px for the Name column */
}

/* Optional: Adjust other headers as necessary */
.headers th:nth-child(3),
.headers th:nth-child(4) {
  padding-right: 40px; /* Example: Add more padding between Team and Position */
}

.content tr:nth-child(even) {
  border-bottom: solid 1px rgba(255,255,255,0.1); /* White border bottom */
  background-color: rgba(255, 255, 255, 0.1); /* White background with transparency */
}

.content tr:nth-child(odd) {
  border-bottom: solid 1px rgba(255,255,255,0.1); /* White border bottom */
  background-color: rgba(255, 255, 255, 0.05); /* Lighter white background with transparency */
}

.content tr:hover {
  background-color: rgba(255, 255, 255, 0.3); /* Light gray on hover */
}

#filterOptions {
  color: #fff; /* White text */
}

.green-text {
  color: #00ff00; /* Green color */
}

.red-text {
  color: #ff0000; /* Red color */
}

.fantasy-button {
  background-color: #fff; /* White background */
  color: #2e8bc0; /* Blue-green text color */
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid #2e8bc0; /* Blue-green border */
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.fantasy-button:hover {
  background-color: #2e8bc0; /* Blue-green background on hover */
  color: #fff; /* White text on hover */
  border-color: #2e8bc0; /* Blue-green border color on hover */
}